--trusted-host pypi.org
--trusted-host pypi.python.org
--trusted-host files.pythonhosted.org
aiohttp==3.9.2
beautifulsoup4==4.12.3
fastapi~=0.115.0
Flask~=3.0.2
openai~=1.55.3
pydantic==2.9.2
fake_useragent~=1.5.1
python-dotenv==1.0.1
Requests==2.32.3
selectolax==0.3.24
selenium~=4.25.0
waitress~=3.0.0
bs4~=0.0.2
spacy~=3.7.5
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
psycopg2==2.9.10
uvicorn[standard]